<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Frame</key>
	<dict>
		<key>Height</key>
		<real>123.21127319335938</real>
		<key>Width</key>
		<real>219.16098022460938</real>
		<key>X</key>
		<real>21.307317733764648</real>
		<key>Y</key>
		<real>224.36619567871094</real>
	</dict>
</dict>
</plist>