<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Frame</key>
		<dict>
			<key>Height</key>
			<real>123.2112731933594</real>
			<key>Width</key>
			<real>219.1609802246094</real>
			<key>X</key>
			<real>21.30731773376465</real>
			<key>Y</key>
			<real>224.3661956787109</real>
		</dict>
	</dict>
</plist>